# GPEA Parent BU
MC_GPEA_CLIENTID=
MC_GPEA_CLIENTSECRET=
MC_GPEA_ACCOUNTID=
MC_GPEA_SUBDOMAIN=

# TW Market
MC_TW_CLIENTID=
MC_TW_CLIENTSECRET=
MC_TW_ACCOUNTID=
MC_TW_SUBDOMAIN=

# HK Market
MC_HK_CLIENTID=
MC_HK_CLIENTSECRET=
MC_HK_ACCOUNTID=
MC_HK_SUBDOMAIN=

# KR Market
MC_KR_CLIENTID=
MC_KR_CLIENTSECRET=
MC_KR_ACCOUNTID=
MC_KR_SUBDOMAIN=


# for sending the daily reports
SLACK_WEBHOOK=https://hooks.slack.com/services/T01562F9NF7/B02F0SB6ZV4/XXXXXX

JOURNEY_SCHEMA_ENPOINT=https://gsheet-toolkit.small-service.gpeastasia.org/v1/db/XXXXXX
EXEC_LOGS_ENPOINT=https://gsheet-toolkit.small-service.gpeastasia.org/v1/db/XXXXXX

BITLY_TOKEN=564fcda7fd2a25879e7ef7d2fde63fxxxxx

MAILGUN_DOMAIN = 'mg.xxxxx.xxxxx'
MAILGUN_APIKEY = 'faf70ac4f12734b112b7adf1e545c5c4-7ca144d2-xxxxxx'